body {
  background: var(--background);
  padding: 15px;
  color: var(--text);
}

body,
input {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
label {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  display: block;
  width: 100%;
  background-color: var(--background);
  background-image: var(--coverflow-ligth);
  box-shadow: inset 0px 0px 5.7px rgba(108, 111, 133, 0.29);
  border: none;
  border-radius: 7px;
  text-align: center;
  height: 50px;
  color: var(--text);
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
  font-size: 16px;
  font-weight: 400;
  max-width: 310px;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  box-shadow: inset 0px 0px 5.7px rgba(108, 111, 133, 0.9);
}

input::placeholder {
  color: var(--grey);
  opacity: 1;
}

select {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--text);
  background-image: var(--coverflow-ligth), url("/img/caret-down-solid.svg");
  background-position:
    left top,
    calc(100% - 10px) calc(50% - 1px);
  background-size: 100%, 12px;
  background-color: var(--background);
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
  padding: 4px 30px 6px 14px;
  box-shadow:
    -1px -1px 4px #fcfcfc,
    2px 2px 4px #ccd0da;
}

button,
a.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 310px;
  cursor: pointer;
  color: white;
  background-color: var(--primary);
  background-image: var(--coverflow-full);
  font-weight: 700;
  border: none;
  border-radius: 7px;
  height: 45px;
}

button:hover,
a.button:hover {
  text-decoration: none;
  background-image: var(--coverflow-dark);
}

button:active,
a.button:active {
  background-image: var(--coverflow-darker);
}

button:disabled,
a.button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

button.warning,
a.button.warning {
  background-color: var(--yellow);
  background-image: linear-gradient(rgba(203, 157, 88, 0.4),
      rgba(212, 164, 41, 0.36));
}

button.warning:hover,
a.button.warning:hover {
  background-image: linear-gradient(rgba(203, 157, 88, 0.6),
      rgba(212, 164, 41, 0.56));
}

button.warning:active,
a.button.warning:active {
  background-image: linear-gradient(rgba(203, 157, 88, 0.8),
      rgba(212, 164, 41, 0.74));
}

button.danger,
a.button.danger {
  margin-top: 0;
  background-color: var(--red);
  background-image: linear-gradient(rgba(195, 45, 45, 0.4),
      rgba(147, 10, 10, 0.36));
}

button.danger:hover,
a.button.danger:hover {
  background-image: linear-gradient(rgba(195, 45, 45, 0.5),
      rgba(147, 10, 10, 0.4));
}

button.danger:active,
a.button.danger:active {
  background-image: linear-gradient(rgba(195, 45, 45, 0.55),
      rgba(147, 10, 10, 0.48));
}

.container {
  box-shadow:
    inset 2px 2px 10px #dce0e8,
    inset -2px -2px 10px #e6e9ef;
  border-radius: 6px;
  padding: 15px;
}

.moreinfo {
  display: inline-block;
  background: var(--text);
  color: var(--background);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  font-weight: 600;
  margin-left: 5px;
  opacity: 0.5;
}

.moreinfo:hover {
  text-decoration: none;
  opacity: 1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
