header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  background: var(--background);
  margin: 0 0 20px;
  row-gap: 10px;
}

header a:hover {
  text-decoration: none;
}

header h1 {
  z-index: 3;
  color: var(--text);
}

@media screen and (max-width: 535px) {
  header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }

  header h1 {
    text-align: center;
  }
}

header nav {
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(4, auto);
  gap: 15px;
}

@media screen and (max-width: 535px) {
  header nav {
    gap: 20px;
    margin: auto;
  }
}

@media screen and (min-width: 800px) {
  header nav {
    grid-template-columns: repeat(3, auto);
  }
}

header .menu {
  color: var(--text);
  background-color: var(--background);
  box-shadow:
    -1px -1px 4px #fcfcfc,
    2px 2px 4px #ccd0da;
  border-radius: 5px;
  cursor: pointer;
  max-width: fit-content;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 3;
  text-transform: capitalize;
  padding: 5px 7px;
}

header .menu:hover {
  box-shadow:
    -1px -1px 4px #fff,
    2px 2px 4px #dbdee5;
}

@media screen and (min-width: 800px) {
  header .menu:last-of-type {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  header .menu svg {
    margin-right: 5px;
  }
}

header .menu .bars {
  font-size: 20px;
  margin: -2px -2px -2px -3px;
}

header h1 svg {
  margin-right: 5px;
}

header p {
  grid-column: -1;
  text-align: right;
}

header p a:hover,
header p a:active {
  text-decoration: underline;
}

@media screen and (max-width: 535px) {
  header p {
    text-align: center;
  }
}
