@import "variables.scss";

body {
  background: $background;
  padding: 15px;
  color: $text;
}

body,
input {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
label {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input[type="email"],
input[type="password"],
input[type="text"] {
  display: block;
  width: 100%;
  background-color: $background;
  background-image: linear-gradient(to bottom right,
      rgba(0, 0, 0, 0.0375),
      rgba(0, 0, 0, 0));
  box-shadow: inset 0px 0px 5.7px rgba(108, 111, 133, 0.29);
  border: none;
  border-radius: 7px;
  text-align: center;
  height: 50px;
  color: $text;
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
  font-size: 16px;
  font-weight: 400;
  max-width: 310px;

  &:focus {
    box-shadow: inset 0px 0px 5.7px rgba(108, 111, 133, 0.9);
  }
}

input::placeholder {
  color: #9ca0b0;
  opacity: 1;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: $text;
  background-image: linear-gradient(to bottom right,
      rgba(0, 0, 0, 0.0375),
      rgba(0, 0, 0, 0)),
    url("/img/caret-down-solid.svg");
  background-position:
    left top,
    calc(100% - 10px) calc(50% - 1px);
  background-size: 100%, 12px;
  background-color: $background;
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
  padding: 4px 30px 6px 14px;
  box-shadow:
    -1px -1px 4px #fcfcfc,
    2px 2px 4px #ccd0da;
}

button {
  display: block;
  width: 100%;
  max-width: 310px;
  cursor: pointer;
  color: white;
  background-color: $blue;
  background-image: linear-gradient(rgba(114, 135, 253, 0.4),
      rgba(30, 102, 245, 0.36));
  font-weight: 700;
  border: none;
  border-radius: 7px;
  height: 45px;

  &:hover {
    background-image: linear-gradient(rgba(114, 135, 253, 0.6),
        rgba(30, 102, 245, 0.56));
  }

  &:active {
    background-image: linear-gradient(rgba(114, 135, 253, 0.4),
        rgba(30, 102, 245, 0.74));
  }

  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }

  &.warning {
    background-color: $yellow;
    background-image: linear-gradient(rgba(203, 157, 88, 0.4),
        rgba(212, 164, 41, 0.36));

    &:hover {
      background-image: linear-gradient(rgba(203, 157, 88, 0.6),
          rgba(212, 164, 41, 0.56));
    }

    &:active {
      background-image: linear-gradient(rgba(203, 157, 88, 0.8),
          rgba(212, 164, 41, 0.74));
    }
  }

  &.danger {
    margin-top: 0;
    background-color: $red;
    background-image: linear-gradient(rgba(195, 45, 45, 0.4),
        rgba(147, 10, 10, 0.36));

    &:hover {
      background-image: linear-gradient(rgba(195, 45, 45, 0.5),
          rgba(147, 10, 10, 0.4));
    }

    &:active {
      background-image: linear-gradient(rgba(195, 45, 45, 0.55),
          rgba(147, 10, 10, 0.48));
    }
  }
}

.container {
  box-shadow:
    inset 2px 2px 10px #dce0e8,
    inset -2px -2px 10px #e6e9ef;
  border-radius: 6px;
  padding: 15px;
}

body>.container {
  min-height: 100dvh;
}
