header {
  nav {
    display: grid;
    grid-template-columns: 30px auto 30px;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 600px) {
      grid-template-columns: auto 278px;

      .navMenus {
        display: grid;
        grid-template-columns: 110px 88px 35px;
        gap: 0 25px;
      }
    }

    @media screen and (min-width: 800px) {
      grid-template-columns: auto 223px;

      .navMenus {
        display: grid;
        grid-template-columns: 110px 88px;
        gap: 0 25px;

        span:last-of-type {
          display: none;
        }
      }
    }

    h1 {
      z-index: 3;
    }
  }

  .menu {
    color: $text;
    background-color: $background;
    box-shadow:
      -1px -1px 4px #fcfcfc,
      2px 2px 4px #ccd0da;
    padding: 7px 5px;
    border-radius: 5px;
    cursor: pointer;
    display: grid;
    place-items: center;
    max-width: fit-content;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    z-index: 3;

    &:hover {
      box-shadow:
        -1px -1px 4px darken(#fcfcfc, 5%),
        2px 2px 4px darken(#ccd0da, 5%);
      color: darken($text, 5%);
    }

    @media screen and (min-width: 600px) {
      max-width: initial;
      grid-template-columns: 16px auto;
      padding: 7px 10px;
    }
  }

  .bars {
    font-size: 20px;
    margin: -2px -2px -2px -3px;
  }

  h1 svg {
    margin-right: 5px;
  }
}
