@use "variables";

.categories {
  ul {
    margin: 0 auto 30px;
    padding: 10px 5px 20px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    li {
      cursor: pointer;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      color: variables.$background;
      background-color: variables.$background;
      background-image: linear-gradient(to bottom right,
          rgba(0, 0, 0, 0.0375),
          rgba(0, 0, 0, 0));
      box-shadow:
        -1px -1px 4px #fcfcfc,
        2px 2px 4px #ccd0da;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: all 0.15s ease-out;
      min-width: fit-content;
      padding: 4px 8px;
      border-radius: 6px;
      text-align: center;

      &:nth-child(1) {
        background-color: variables.$text;
      }

      &:nth-child(2) {
        background-color: variables.$red;
      }

      &:nth-child(3) {
        background-color: variables.$flamingo;
      }

      &:nth-child(4) {
        background-color: variables.$green;
      }

      &:nth-child(5) {
        background-color: variables.$pink;
      }

      &:nth-child(6) {
        background-color: variables.$purple;
      }

      &:nth-child(7) {
        background-color: variables.$orange;
      }

      &:nth-child(8) {
        background-color: variables.$teal;
      }

      &:nth-child(9) {
        background-color: variables.$sky;
      }

      &:nth-child(10) {
        background-color: variables.$yellow;
      }

      &:nth-child(11) {
        background-color: variables.$rosewater;
      }

      &.active {
        opacity: 1;
        font-weight: 600;
        color: variables.$background;
        background-color: variables.$blue;
        background-image: linear-gradient(to bottom,
            rgba(114, 135, 253, 0.4),
            rgba(30, 102, 245, 0.36));
        box-shadow:
          0 2px 4px rgba(76, 79, 105, 0.1),
          -2px -2px 3px rgba(200, 209, 255, 0.3),
          inset 2px 2px 4px rgba(76, 79, 105, 0.1);
      }
    }
  }
}
