.EventCRUD {
  max-width: 1200px;
  margin: 0 auto;

  form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem 3rem;

    label {
      display: block;
      text-transform: capitalize;
      font-size: 1.2rem;
      font-weight: 600;

      input,
      select {
        font-size: 1rem;
        margin-top: 0.5rem;
        min-width: 100%;
      }

      select {
        height: 50px;
      }
    }

    .buttons {
      margin-top: 1rem;
      padding-top: 2rem;
      grid-column: 1 / -1;
      border-top: 1px solid #ccc;

      display: grid;
      grid-gap: 3rem;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

      button,
      a {
        min-width: 100%;
      }
    }
  }
}
