.filters {
  position: absolute;
  top: 15px;
  left: 15px;
  width: calc(100dvw - 30px);
  height: calc(100dvh - 15px);
  z-index: 1;
  background: $background;
  padding-top: calc(84px + 1.5 * 38px);
  overflow-y: auto;

  @media screen and (min-width: 800px) {
    width: 330px;
    padding-top: 15px;
    height: fit-content;
    position: static;
    display: block;
  }

  h3 {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: 800px) {
      text-align: left;
    }
  }

  >p {
    text-align: center;
    margin-bottom: 35px;

    @media screen and (min-width: 800px) {
      text-align: left;
    }
  }

  #calendarForm {
    display: grid;
    gap: 25px 0;
    position: relative;
    margin-bottom: 64px;
    max-width: 350px;
    margin: auto;

    select[name="month"] {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    select[name="year"] {
      grid-column: 3/4;
      grid-row: 1/2;
    }

    #calendar {
      grid-column: 1/4;
      grid-row: 2/3;
      display: grid;
      grid-template-areas: "sun mon tue wed thu fri sat";
      grid-template-rows: repeat(7, 1fr);
      place-items: center;
      gap: 15px 10px;

      .Sunday {
        grid-area: sun;
      }

      .Monday {
        grid-area: mon;
      }

      .Tuesday {
        grid-area: tue;
      }

      .Wednesday {
        grid-area: wed;
      }

      .Thursday {
        grid-area: thu;
      }

      .Friday {
        grid-area: fri;
      }

      .Saturday {
        grid-area: sat;
      }

      label {
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        background-color: $background;
        background-image: linear-gradient(to bottom right,
            rgba(0, 0, 0, 0.0375),
            rgba(0, 0, 0, 0));
        border-radius: 50%;
        height: 28.4px;
        width: 28.4px;
        display: grid;
        place-items: center;
        font-size: 14px;
        box-shadow:
          -1px -1px 4px #fcfcfc,
          2px 2px 4px #ccd0da;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: all 0.15s ease-out;

        &.notCurrent {
          opacity: 0.7;
          font-weight: 400;
          color: #6d708b;
        }

        &.active {
          opacity: 1;
          font-weight: 600;
          color: $background;
          background-color: $blue;
          background-image: linear-gradient(to bottom,
              rgba(114, 135, 253, 0.4),
              rgba(30, 102, 245, 0.36));
          box-shadow:
            0 2px 4px rgba(76, 79, 105, 0.1),
            -2px -2px 3px rgba(200, 209, 255, 0.3),
            inset 2px 2px 4px rgba(76, 79, 105, 0.1);
        }

        input {
          display: none;
        }
      }
    }

    button {
      grid-column: 1/4;
      max-width: 100%;
    }
  }
}
