@use "variables";

@use "sass:color";

.toast {
  text-align: center;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin: 1rem 0;

  &.error {
    background: variables.$red;

    &:hover {
      background: color.adjust(variables.$red, $lightness: -5%, $space: hsl);
    }
  }

  &.success {
    background: variables.$blue;

    &:hover {
      background: color.adjust(variables.$blue, $lightness: -5%, $space: hsl);
    }
  }

  .close {
    margin-left: 0.25rem;
  }
}
