$background: #f2f1f6;
$text: #4c4f69;
$grey: #9ca0b0;
$blue: #7287fd;
$red: #e64553;
$yellow: #df8e1d;
$green: #40a02b;
$pink: #ea76cb;
$purple: #8839ef;
$orange: #fe640b;
$teal: #179299;
$sky: #04a5e5;
$flamingo: #dd7878;
$rosewater: #dc8a78;
